.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-bottom-left {
    clip-path: path("M0 0 L100% 0 L100% 100% Q0 100% 0 0");
  }
  .clip-top-right {
    clip-path: path("M0 0 L100% 0 Q100% 100% 0 100%");
  }
}


.cart-sidebar {
  position: fixed;
  top: 0;
  right: -320px;
  width: 320px;
  height: 100%;
  background-color: #fff;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: right 0.5s ease-in-out; 
}

.cart-sidebar.show {
  right: 0; 
}



/* CSS for CartSidebar */
